/* Items below concern the management and use of fonts. */
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Regular.woff2') format('woff2'),
      url('fonts/Lato-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url('fonts/QuattrocentoSans.woff2') format('woff2'),
      url('fonts/QuattrocentoSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body.blackScreen {
  opacity: 0;
  transition: none;
}

body {
  margin: 12px;
  background-color: #e4e4e4;
  /* transition on change */
  opacity: 1;
  transition: opacity 3s;
}

/* Formatting for site elements to ensure consistency. */
* {
  margin: 0;
      margin-right: 0px;
      margin-left: 0px;
  padding: 0;
}

/* This section is concerned with the colors of nav text when interacted with. */
  a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:visited {
    color: black;
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:hover {
    color: darkgrey;
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:active {
    color: rgb(42, 42, 75);
    text-decoration: none;
    letter-spacing: .1rem;

  }
/* Standarized scaling and formatting for the site's images. */
  img {
    max-width: 100%;
    height: auto;
      display: block;
    margin-left: auto;
    margin-right: auto;
  }

p {
  font-family: "Quattrocento Sans";
  font-size: 1.15rem;
  max-width: 536px;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Guides for my linked footer content. */
.stevenlink {
display: inline-block;
margin-left: auto;
margin-right: auto;
padding: 12px
}

/* Overall footer adherence. */
.bottom {
    text-align: center;
}