/* Items below concern the management and use of fonts. */
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Regular.woff2') format('woff2'),
      url('fonts/Lato-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url('fonts/QuattrocentoSans.woff2') format('woff2'),
      url('fonts/QuattrocentoSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body.blackScreen {
  opacity: 0;
  transition: none;
}

body {
  margin: 12px;
  background-color: #e4e4e4;
  /* transition on change */
  opacity: 1;
  transition: opacity 3s;
}

#audi {
  background-image: url('images/audib.png');
}

#jag {
  background-image: url('images/jagb.png');
}

#jeep {
  background-image: url('images/jeepb.png');
}

#vw {
  background-image: url('images/vwb.png');
}

#toyota {
  background-image: url('images/toyotab.png');
}

#honda {
  background-image: url('images/hondab.png');
}

#merc {
  background-image: url('images/mercb.png');
}

#ford {
  background-image: url('images/fordb.png');
}

#volvo {
  background-image: url('images/volvob.png');
}

#marquis {
  background-image: url('images/mercuryb.png');
}

#subaru {
  background-image: url('images/subarub.png');
}

#miata {
  background-image: url('images/mazdab.png');
}

/* Formatting for site elements to ensure consistency. */
* {
  margin: 0;
      margin-right: 0px;
      margin-left: 0px;
  padding: 0;
}

.toplayout {
  display: grid;
  grid-template-areas:
  'title help';
}

h1 {
  margin: 1.5rem;
}

.zodiaclayout {
  display: grid;
  grid-template-areas:
  'menu main main main main right'
  'menu main main main main right';
  grid-gap: 10px;
  padding: 10px;
}

h2 {
  max-width: 300px;
  text-align: left;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 3em;
}

h3 {
  font-family: 'Lato';
}

.opener {
  text-align: left;
  font-family: "Quattrocento Sans";
  font-size: 21px;
  grid-area: title;
}

.howto {
  float: right;
  grid-area: help;
  align-self: center;
  justify-self: right;
  padding-right: 1em;
}

.subflank {
  text-align: center;
  font-family: 'Lato';
  font-size: 12px;
  float: right;
  grid-area: right;
}

.buttongrid {
  display: grid;
  grid-template-columns: repeat(2,90px);
  grid-template-rows: 90px;
  row-gap: 10px;
  column-gap: 10px;
  max-width: 200px;
  grid-area: menu;
}

.userinfo {
  align-self: center;
  justify-self: center;
}

.carstage {
  opacity: 0.75;
  object-fit: cover;
  align-self: center;
  grid-area: main;
}

.clicker {
  width: 90px;
  height: 90px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  opacity: .85;
  text-decoration-color: transparent;
}

[hidden] {
	display: none !important;
}

.modal {
	height: 140vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal .blanket {
	background-color: rgba(0, 0, 0, 0);

	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-body {
	background-color: rgba(255, 255, 255, 0);

	height: 50vh;
	max-width: 50vw;

	position: relative;
	z-index: 101;

	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: 2rem;
	font-weight: 300;
	text-align: center;
}

/* This section is concerned with the colors of nav text when interacted with. */
  a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:visited {
    color: black;
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:hover {
    color: darkgrey;
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:active {
    color: rgb(42, 42, 75);
    text-decoration: none;
    letter-spacing: .1rem;

  }
/* Standarized scaling and formatting for the site's images. */
  img {
    max-width: 100%;
    height: auto;
      display: block;
    margin-left: auto;
    margin-right: auto;
  }

p {
  font-family: "Quattrocento Sans";
  font-size: 1.15rem;
  max-width: 536px;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Guides for my linked footer content. */
.stevenlink {
display: inline-block;
margin-left: auto;
margin-right: auto;
padding: 12px
}

/* Overall footer adherence. */
.bottom {
    text-align: center;
}